body {
    padding: 60px;
}

input {
    width: 100%;
    padding: 5px 10px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-content: center;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 6px;
    margin-bottom: 15px;
    margin-right: 10px;
    overflow: hidden;
    width: 270px;
    min-width: 250px;
    box-shadow: 2px 2px 2px 1px rgba(122, 121, 121, 0.2);
    color: gray;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    height: 170px;
    max-height: 170px;
    display: block;
    margin: auto;
    width: 270px;
    min-width: 250px;
}
